.creators {
  min-height: 100vh;
  &__heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    align-items: center;
    justify-content: center;
  }
  &__heading-title {
    color: $white;
    font-weight: 300;
    padding: 3rem 1rem 2rem 2rem;
    text-transform: uppercase;
  }
  &__earth {
    background-image: url("../images/mobile/image-deep-earth.jpg");
    margin: 2rem;
  }
  &__arcade {
    background-image: url("../images/mobile/image-night-arcade.jpg");
    background-position: 20% 100%;
    margin: 2rem;
  }
  &__soccer {
    background-image: url("../images/mobile/image-soccer-team.jpg");
    background-position: 50%;
    margin: 2rem;
  }
  &__grid {
    background-image: url("../images/mobile/image-grid.jpg");
    margin: 2rem;
  }
  &__above {
    background-image: url("../images/mobile/image-from-above.jpg");
    margin: 2rem;
  }
  &__pocket {
    background-image: url("../images/mobile/image-pocket-borealis.jpg");
    margin: 2rem;
  }
  &__curiosity {
    background-image: url("../images/mobile/image-curiosity.jpg");
    margin: 2rem;
  }
  &__fisheye {
    background-image: url("../images/mobile/image-fisheye.jpg");
    margin: 2rem;
  }
  &__btn {
    padding: 1rem 2rem;
    border: 1px solid $black;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    background: transparent;
    font-weight: bold;
    justify-self: center;
  }
}
