.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $black;
  color: $white;
  gap: 1rem;
  @media (min-width: 1440px) {
    padding: 2rem 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &__logo {
    justify-self: center;
    @media (min-width: 1440px) {
      justify-self: flex-start;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
  &__copy {
    @media (min-width: 1440px) {
      justify-self: flex-end;
      grid-column: 2/3;
      grid-row: 2/3;
    }
    color: $darkGray;
  }
  &__nav {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @media (min-width: 1440px) {
      flex-direction: row;
    }
  }

  &__link {
    color: $white;
  }
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media (min-width: 1440px) {
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
