// colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// fonts

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

$primaryFont: "Alata", sans-serif;
$secondaryFont: "Josefin Sans", sans-serif;
$fontSize: 15px;

// padding

$globalPadding: 3rem 6rem;
$globalPaddingLeftAndRight: 6rem;

// basic reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $primaryFont;
}

.test {
  width: 100%;
}
